[flake8]
max-line-length = 127
max-complexity = 10
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .tox,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    .github,
    docs,
    tests/fixtures

ignore = 
    E203,
    E266,
    E501,
    W503,
    F403,
    F401

per-file-ignores =
    __init__.py:F401,F403
    tests/*:F401,F811
