
dev/temp
docs/docs/.DS_Store
docs/docs/assets/.DS_Store
.DS_Store
assets/.DS_Store
docs/.DS_Store
vnstock/.DS_Store
tests/common/test_data_explorer.py
tests/test_notebook.ipynb
docs/.DS_Store
assets/.DS_Store
dev/test_notebook.ipynb
vnstock/common/.DS_Store
vnstock/explorer/.DS_Store
vnstock/core/.DS_Store
vnstock/.DS_Store
dev/check_MSN_quarter_reports_df.xlsx
dev/MSN_quarter_reports_df.xlsx
dev/vci_financial_test_notebook_Nov_1.ipynb
build/
dist/
*.egg-info/
*.egg
*.pyc
dev/temp_1_vietnam_stock_vnstock3.ipynb