# Build System Configuration
[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

# Metadata Information
[project]
name = "vnstock3"
version = "0.3.0.6"
description = "A comprehensive and transparent solution for Vietnamese stock market analysis."
authors = [
    { name = "Thinh Vu", email = "mrthinh@live.com" },
    ]
license = { file = "LICENSE.md" }
requires-python = ">=3.10"
readme = { file = "README.md", content-type = "text/markdown" }
urls = { Homepage = "https://github.com/thinh-vu/vnstock" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests",
    "beautifulsoup4",
    "pandas",
    "vnai>=0.1.3",
    "openpyxl",
    "pydantic",
    "psutil",
    "fake_useragent",
    "vnstock_ezchart"
]

# Dependency Management
[project.optional-dependencies]
dev = ["flake8"]
test = ["unittest"]

[tool.poetry]
packages = [
    { include = "vnstock3" },
]

